@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

.header_bar_container {
  overflow: hidden;
  & > div {
    white-space: nowrap;
    will-change: transform;
    // animation: marquee 6000ms linear infinite;
  }
}

.navbar_wrapper {
  position: fixed;
  z-index: 9;
  width: 100%;
  background: var(--mantine-color-gray-0);
  transition: all 0.5OrderImages ease-out;
  top: 0;
  left: 0;
  box-shadow: var(--mantine-shadow-md);
}

.top_header_link {
  border-bottom: 1px solid var(--mantine-color-gray-0);
}

.navbar_link {
  transition: color 0.3s ease-in-out;
  &:hover {
    color: #2f415d;
  }
}

.navbar_menu_button {
  border: none;
}

.close_drawer_button {
  cursor: pointer;
}

.counter_wrapper {
  border: 1px solid var(--mantine-color-gray-4);
}

.drawer_section {
  border-bottom: 1px solid #f0f0f0;
  padding: 1.5rem 0.7rem;
}

.form_wrapper {
  border: 1px solid #f0f0f0;
  input {
    border: none;
    border-radius: none;
  }
}

.submit_button {
  transition: all 0.3s ease-in;
  &:hover {
    background-color: #e96f84;
  }
}

.select_input {
  border-inline-end: 1px solid #f0f0f0;
}
