.form_wrapper {
  display: flex;
  width: 100%;
  input {
    border-radius: 0;
  }
  button:hover {
    background: #ca677e;
  }
}

.footer_content {
  border-bottom: 1px solid #49628a;
}

.footerLink {
  transition: all 0.3s;
  width: fit-content;
  position: relative;
  &:before {
    transition: all 0.3s;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 0.3rem;
    height: 0.15rem;
    top: 50%;
    // -webkit-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    margin-inline-start: -0.5rem;
    background:  #e96f84;
    visibility: hidden;
  }
  &:hover {
    padding-inline-start: 0.5rem;
    color: #e96f84 !important;
  }
  &:hover::before {
    visibility: visible;
    margin-inline-start: 0;
  }
}
