.loader {
  width: 40%;
  height: 1.2rem;
  border-radius: 1rem;
  padding: 3px;
  border: 2px solid var(--mantine-color-rhino-9);
}

.loader_box {
  background: var(--mantine-color-rhino-6);
  border-radius: 1rem;
  height: 100%;
  animation: loading 1s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
