.hero_button {
  transition: all 0.3s ease-in;
  border-radius: 0;
  &:hover {
    background-color: #e96f84;
  }
}

.icon_wrapper {
  padding: 1rem;
  border-radius: 50%;

  &,
  svg {
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    background: #000 !important;
    svg {
      color: #fff;
    }
  }
}

.banner_overlay {
  transition: 0.5s ease-in-out;
  z-index: 3;
}

.category_banner_one,
.category_banner_two,
.category_banner_three {
  overflow: hidden;
  img {
    transition: 0.5s ease-in-out;
  }
  &:hover {
    background: linear-gradient(rgba);
  }
  &:hover .banner_overlay {
    background: rgba(0, 0, 0, 0.1);
  }
  &:hover img {
    transform: scale(1.1);
  }
}

.banner_content {
  z-index: 4;
}

.carousel_slide {
  img {
    border-radius: 0.1rem 0.1rem 0 0;
  }
}

.clearanceWrapper {
  background: url(../../../../shared/assets/images/clearance.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tab_wrapper {
  position: relative;
  padding: 0.5rem 0;
  & div {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: var(--mantine-color-dark-9);
    transition: 0.3s;
    width: 0;
  }

  &:hover div {
    width: 100%;
  }
}