.address_wrapper {
    border: 1px solid var(--mantine-color-gray-2);
    box-shadow: var(--mantine-box-shadow-sm);
}

.active_address_wrapper {
    border: 2px solid var(--mantine-color-rhino-9);
    box-shadow: var(--mantine-box-shadow-sm);
}