.form_wrapper {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.view_order_button {
  svg {
    color: var(--mantine-color-red-9);
  }
  &:hover svg {
    transition: 0.5s ease-in-out;
    color: var(--mantine-color-rhino-9);
  }
}


.payment_method_wrapper {
  border: 0.1rem solid var(--mantine-color-gray-3);
  border-radius: 0.4rem;
}