.carousel_slide {
  img {
    border-radius: 0.1rem 0.1rem 0 0;
  }
}

.product_image {
  border: 1px solid #e7e7e7;
  img {
    object-fit: contain;
  }
}

.product_link_image {
  img {
    object-fit: contain;
  }
}

.product_wrapper {
  border: 1px solid #f8f8f8;
}

.add_to_cart_wrapper {
  width: 100%;
  & > span {
    display: block;
    width: 100%;
  }
  button {
    width: 100%;
  }
}

.product_image {
  cursor: pointer;
}

.product_link_image {
  overflow: hidden;
  &:hover .product_list_actions_wrapper {
    right: 4%;
    opacity: 1;
  }
  &:hover .product_grid_actions_wrapper {
    bottom: 4%;
    opacity: 1;
  }
}

.product_list_actions_wrapper,
.product_grid_actions_wrapper {
  transition: 0.2s ease-in-out;
  opacity: 0;
  button {
    border: 0;
  }
}

.product_list_actions_wrapper {
  right: -4%;
  top: 4%;
}

.product_grid_actions_wrapper {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category_link {
  border: 1px solid #f8f8f8;
  display: block;
}

.counter_wrapper {
  border: 1px solid var(--mantine-color-gray-4);
}

.root {
  background-color: var(
    --notification-color,
    var(--mantine-primary-color-filled)
  );

  &::before {
    background-color: var(--mantine-color-white);
  }

 top: 0;
}


.description,
.title {
  color: var(--mantine-color-white);
}

.closeButton {
  color: var(--mantine-color-white);

  @mixin hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.product_settings_button {
  :hover {
    transition: all 0.2s ease-in-out;
    color: var(--mantine-color-artyClickRed-5);
  }
}

.share_product_button {
  cursor: pointer;
}