.product_table_wrapper:hover .quick_view_button_wrapper {
 opacity: 1;
 transition: 0.3s ease-in-out;
}

.quick_view_button_wrapper {
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
