.primary_button_wrapper,
.rhino_button_wrapper {
  border: none;
  transition: 0.3s ease-in-out;

  border-radius: 0;
  color: var(--mantine-color-gray-0);
  font-weight: 600;
  width: fit-content;
  text-transform: uppercase;
}

.primary_button_wrapper {
  background: var(--mantine-color-blushRed-3);
  &:hover {
    background: var(--mantine-color-rhino-9);
  }
}

.rhino_button_wrapper {
  background: var(--mantine-color-rhino-9);
  &:hover {
    background: var(--mantine-color-blushRed-3);
  }
}

.secondary_button_wrapper {
  border: 1px solid var(--mantine-color-dark-9);
  transition: 0.3s ease-in-out;
  border-radius: 0;
  color: var(--mantine-color-dark-9);
  font-weight: 600;
  width: fit-content;
  text-transform: uppercase;
  &:hover {
    color: var(--mantine-color-gray-0);
  }
}

.tertiary_button_wrapper {
  background: var(--mantine-color-aquaHaze-0);
  transition: 0.3s ease-in-out;
  border-radius: 0;
  color: var(--mantine-color-dark-9);
  font-weight: 600;
  width: fit-content;
  text-transform: uppercase;
  &:hover {
    background: var(--mantine-color-rhino-9);
    color: var(--mantine-color-gray-0);
  }
}

.submit_button_wrapper {
  border: none;
  transition: 0.3s ease-in-out;
  background: var(--mantine-color-rhino-9);
  border-radius: 0;
  color: gray.0;
  font-weight: 600;
  width: fit-content;
  text-transform: uppercase;
  &:hover {
    background: var(--mantine-color-blushRed-3);
  }
}

.container_wrapper {
  width: 85%;
  margin: auto;
  position: relative;
  @media screen and (max-width: 1200px) {
    width: 95%;
    padding: 0;
  }
}
