.post_link_image {
  overflow: hidden;
  img {
    transition: 0.5s ease-in-out;
  }
  &:hover {
    background: linear-gradient(rgba);
  }
  &:hover .banner_overlay {
    background: rgba(0, 0, 0, 0.1);
  }
  &:hover img {
    transform: scale(1.1);
  }
}

.search_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dad8d8;
  padding: 0 0.5rem;
  input {
    border: 0;
  }
}
