
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

}

#root {
  height: 100%;
}

button {
  cursor: pointer !important;
}

a {
  cursor: pointer;
}

.toast-success {
  box-shadow: 0 0 5px #dadada;
  width: 25rem;
  background: #fff;
}
