.address_wrapper {
  border: 1px solid var(--mantine-color-gray-2);
  box-shadow: var(--mantine-box-shadow-sm);
}

.promo_code_wrapper {
  border: 0.1rem solid var(--mantine-color-gray-1);
  padding: 1rem;
  border-radius: 0.4rem;
}
